/* 管理员信息页面CSS 黄先明 */
#btnDiv{
	margin-left: 120px;
}

#inputPage{
	width: 40px;
}
#opreation{
	margin-left: 120px;
}
#opreation input{
	margin-left: 50px;
}
table {
	text-align: center;
}
table th{
	text-align: center;
}