/*黄先明  */
#inputPage{
	width: 40px;
}
#pageDiv{
	
	margin-left: 120px;
}

table {
	text-align: center;
}
table th{
	text-align: center;
}
.markBtn{
	width: 70px;
}
.deleteBtn{
	width: 70px;
	margin-left: 10px;
}